.menu-toggle {
    position: absolute;
    right: 0;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    span {
        background-color: $clr-white;
        width: 4rem;
        height: .3rem;
        border-radius: .2rem;
        position: absolute;
        transition: all .2s ease-in-out;
    }

    & span:nth-child(1) {
        transform: translateY(-1.1rem);
        width: 3rem;
        left: 1rem;
    }

    &.active span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
        width: 4rem;
        left: 0;
    }

    & span:nth-child(2) {
        transform: translateY(1.1rem);
        width: 2rem;
        left: 2rem;
    }

    &.active span:nth-child(2) {
        transform: translateY(0) rotate(-45deg);
        width: 4rem;
        left: 0;
    }

    &.active span:nth-child(3) {
        transform: translateX(10rem);
    }
}

.btn {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $clr-black;
    padding: 1rem 4rem;
    letter-spacing: 4px;
    border: 2px solid $clr-black;
    
    &:hover {
        background-color: $clr-black;
        color: $clr-white;
    }
}

.ml-2 {
    margin-left: 2rem;
}