$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-darkgray-200: hsl(0, 0%, 55%);
$clr-darkgray-600: hsl(0, 0%, 41%);

$ff_alata: 'Alata', sans-serif;
$ff_josefin: 'Josefin Sans', sans-serif;